@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;500;600&family=Oswald:wght@300;400;500;600&family=Schoolbell&display=swap');

/* LAYOUT */
nav {
    height: 40px;
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: none;
    box-shadow: none;
}
/* Top navbar */
.headnav {
    background-color: rgba(212, 211, 211, 0.95)!important;
}
.sidenav-trigger {
    color: rgba(0, 0, 0, 0.959);
    height: 50px;
}
.wrapp {
    padding-left: 2%;
    padding-right: 2%;
}
.navbar-light {
    border-top: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-left: none;
    border-right: none;
}
.sidenav {
    width: 30%;
    background-color: rgba(250, 250, 250, 0.7);
}
.container {
  position: relative;
  width: 60vw;
  height: 10%;
  text-align: center;
  color: white;
}
/* Logo Size */
.logo {
    width: 80vw;
    position: center;
    padding-bottom: 50px;
}

/* TEXT STYLE */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* top navbar links */
.headlinks {
    font-family: "Oswald";
    font-size: 16px;
    padding: 5px 20px 5px 0;
    background-color: transparent;
    color: rgba(143, 1, 138, 0.99);
    font-weight: 700;
}
.headlinks:hover {
    font-stretch: wider;
    text-decoration: underline;
}

/* Icon & Button Style */

.btn-large {
    color: rgba(143, 1, 138, 0.99);
    font-size: large;
}

button {
    background-color: rgba(178, 252, 59, 0.9)!important;
}
.flashes h4 {
    line-height: 2;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
