{% extends "base.html" %}
{% block content %}


<h4 class="left-align purple-text text-shadow">Categories</h4>

<div class="row">

    <div class="container col s12 m6">
        <img class="responsive-img" src="static/images/categories-img/snacks.jpg" alt="test">
        <!-- Snacks -->
        <div class="col4 category centered">
            <a href="{{ url_for('snacks') }}" class="category-link">SNACKS</a>
        </div>
    </div>

    <div class="container col s12 m6">
        <img class="responsive-img" src="static/images/categories-img/lunch.jpg" alt="test">
        <!-- Lunch -->
        <div class="col4 category centered">
            <a href="{{ url_for('lunch') }}" class="category-link">LUNCH</a>
        </div>
    </div>

    <div class="container col s12 m6">
        <img class="responsive-img" src="static/images/categories-img/dinner.jpg" alt="test">
        <!-- Dinner -->
        <div class="col4 category centered">
            <a href="{{ url_for('dinner') }}" class="category-link">DINNER</a>
        </div>
    </div>

    <div class="container col s12 m6">
        <img class="responsive-img" src="static/images/categories-img/healthy.jpg" alt="test">
        <!-- Healthy -->
        <div class="col4 category centered">
            <a href="{{ url_for('healthy') }}" class="category-link">HEALTHY</a>
        </div>
    </div>
    <div class="container col s12 m6">
        <img class="responsive-img" src="static/images/categories-img/sweets.jpg" alt="test">
        <!-- Sweets -->
        <div class="col4 category centered">
            <a href="{{ url_for('sweets') }}" class="category-link">SWEETS</a>
        </div>
    </div>
    <div class="container col s12 m6">
        <img class="responsive-img" src="static/images/categories-img/party.jpg" alt="test">
        <!-- Party -->
        <div class="col4 category centered">
            <a href="{{ url_for('party') }}" class="category-link">PARTY</a>
        </div>
    </div>



</div>



{% endblock %}