{% extends "base.html" %}
{% block content %}


<h4 class="left-align purple-text text-shadow">Edit Recipe</h4>

<div class="card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe',recipe_id=recipe._id) }}">
        <div class="row">

            <!-- TEXT INPUT -->
            <!-- Recipe Category -->
            <div class="col s12 m6 l6">
                <div class="input-field form-field">
                    <label for="category_name"></label>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Category: </option>
                        {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>}
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Recipe Title -->
            <div class="input-field col s12">
                <div class="input-field form-field text-field">
                    <i class="fas fa-pencil-alt prefix small"></i>
                    <input placeholder="Title of recipe" value="{{ recipe.title }}" id="title" name="title" type="text" class="validate"
                        minlength="5" maxlength="50" pattern="(?:\s*[a-zA-Z]+){1,6}" required>
                    <label for="title">Recipe name</label>
                </div>
            </div>

            <!-- DROPDOWN LIST -->
            <!-- Cooking Time -->
            <div class="input-field col s12 m6 l6">
                <label for="cooking_time"></label>
                <select id="cooking_time" name="cooking_time" class="validate" required>
                    <option value="{{ recipe.cooking_time }}" selected>{{ recipe.cooking_time }}</option>
                    <option value="5 min"> 5 min</option>
                    <option value="10 min"> 10 min</option>
                    <option value="15 min"> 15 min</option>
                    <option value="20 min"> 20 min</option>
                    <option value="25 min"> 25 min</option>
                    <option value="30 min"> 30 min</option>
                    <option value="35 min"> 35 min</option>
                    <option value="40 min"> 40 min</option>
                    <option value="45 min"> 45 min</option>
                    <option value="50 min"> 50 min</option>
                    <option value="55 min"> 55 min</option>
                    <option value="1 hour"> 1 hour</option>
                    <option value="1 hour 5 min"> 1 hour 5 min</option>
                    <option value="1 hour 10 min"> 1 hour 10 min</option>
                    <option value="1 hour 15 min"> 1 hour 15 min</option>
                    <option value="1 hour 20 min"> 1 hour 20 min</option>
                    <option value="1 hour 25 min"> 1 hour 25 min</option>
                    <option value="1 hour 30 min"> 1 hour 30 min</option>
                    <option value="1 hour 35 min"> 1 hour 35 min</option>
                    <option value="1 hour 40 min"> 1 hour 40 min</option>
                    <option value="1 hour 45 min"> 1 hour 45 min</option>
                    <option value="1 hour 50 min">1 hour 50 min</option>
                    <option value="1 hour 55 min"> 1 hour 55 min</option>
                    <option value="2 hour"> 2 hour</option>
                </select>
            </div>

            <!-- Portions Dropdown -->
            <div class="input-field col s12 m6 l6">
                <label for="portions">{{- recipe.portions -}}</label>
                <select id="portions" name="portions" class="validate" required>
                    <option value="{{ recipe.portions }}" selected>{{ recipe.portions }}</option>
                    {% for i in range(1, 21) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Difficult Level Dropdown -->
            <div class="input-field col s12 m6 l6">
                <select name="difficulty_level">
                    <option value="{{ recipe.difficulty_level }}" selected>{{ recipe.difficulty_level }}</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
                <label></label>
            </div>

            <!-- Cooking Tools Dropdown -->
            <div class="input-field col s12 m6 l6">
                <select name="cooking_material" multiple>
                    <option value="{{ recipe.cooking_material }}" selected>{{ recipe.cooking_material }}</option>
                    <option value="Oven">Oven</option>
                    <option value="Stove">Stove</option>
                    <option value="Knife">Knife</option>
                    <option value="Microwave">Microwave</option>
                    <option value="Mixer">Mixer</option>
                </select>
                <label></label>
            </div>
        </div>
        <br>

        <!-- Image Input -->
        <div class="col s12 m12 l4">

            <div class="input-field form-field text-field">
                <!-- Image URL Input -->
                <i class="fas fa-camera prefix" aria-hidden="true"></i>
                <input id="url_img" name="url_img" value="{{ recipe.url_img }}" type="text" class="validate" />
                <label for="url_img">Recipe Image</label>
            </div>

            <!-- Image Display/Checking field -->
            <div id="image-container" class="left-align">

                <!-- Help select image -->
                <div id="url_help" class="row card-panel grey lighten-2 help-text">
                    <h6>How to select recipe image url:</h6>
                    <ul id="select_url" class="help-text">
                        <li>Once you found an image online, right click on it.</li>
                        <li>Select <span class="img-copy">"Copy image address"</span></li>
                        <li>Click on the url box above and paste the link ('ctrl + V' or 'command + V').</li>
                    </ul>
                    <h6>Links to good recipe images:</h6>
                    <ul id="select_url" class="help-text">
                        <li><a class="img-link" href="https://imgur.com/" target="_blank">Imgur</a></li>
                        <li><a class="img-link" href="https://imgur.com/" target="_blank">Imgur</a></li>
                        <li><a class="img-link" href="https://www.pexels.com/" target="_blank">Pexels</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <!-- Recipe Preparation Input -->
        <div class="input-field text-field">
            <i class="fas fa-book-open prefix" aria-hidden="true"></i>
            <textarea id="preparation" name="preparation" class="materialize-textarea validate" data-position="bottom"
                placeholder="Change row for each step." minlength="4" required>
            {{- recipe.preparation -}}</textarea>
            <label for="preparation">Recipe Preparation</label>
            <a class=""></a>
        </div>

        <!-- Recipe Ingredients Input -->
        <div class="input-field text-field">
            <i class="fas fa-list-ul prefix" aria-hidden="true"></i>
            <textarea id="ingredients" name="ingredients" class="materialize-textarea validate" data-position="bottom"
                data-tooltip="Please add one ingredient on each line." placeholder="One recipe ingredients per line."
                minlength="4" required>{{- recipe.ingredients -}}</textarea>
            <label for="ingredients">Recipe Ingredients</label>
            <a class=""></a>
        </div>

        <!-- Recipe Instructions Field -->
        <div class="input-field text-field">
            <i class="fas fa-file-alt prefix" aria-hidden="true"></i>
            <textarea id="instructions" name="instructions" class="materialize-textarea validate"
                placeholder="Change row for each step." minlength="10" maxlength="700" required>
                {{- recipe.instructions -}}</textarea>
            <label for="instructions">Recipe Instructions</label>
        </div>

        <!-- Tips Field -->
        <div class="input-field text-field">
            <i class="fas fa-lightbulb prefix" prefix" aria-hidden="true"></i>
            <textarea id="tips" name="tips" class="materialize-textarea validate"
                placeholder="Tips or ideas for the recipe" minlength="5" maxlength="200" required>
            {{- recipe.tips -}}</textarea>
            <label for="tips">Tips</label>
        </div>

</div>
</div>
</div>

</div>

<!-- Cancel Recipe Button -->
<div class="row">
    <div id="cancel-button" class="col s6 right-align">
        <a id="cancel-add" href="{{ url_for('get_recipes') }}" class="btn cancelbutton tooltipped"
            data-position="bottom" data-tooltip="This will take you back to the recipes page">
            Cancel <i class="fas fa-times-circle #9d0ab1" aria-hidden="true"></i>
        </a>
    </div>

    <!-- Submit Recipe Button -->
    <div class="col s6 left-align">
        <button type="submit" data-target="added" class="btn waves-effect #9d0ab1 submitbutton">
            Submit <i class="fas fa-edit #c6ff00" aria-hidden="true"></i>
        </button>
    </div>
</div>

</form>
</div>

{% endblock %}