{% extends "base.html" %}
{% block content %}


<h4 class="left-align purple-text text-shadow">Home</h4>




{% for recipe in recipes %}

<div class="row">
    {{ recipe.title }}<br>
    {{ recipe.category_name }}<br>
    {{ recipe.url_img }}<br>

    {{ recipe.cooking_time }}<br>
    {{ recipe.portions }}<br>
    {{ recipe.cooking_material }}<br>
    {{ recipe.difficult_level }}<br>

    {{ recipe.preparation }}<br>
    {{ recipe.ingredients }}<br>
    {{ recipe.instructions }}<br>
    {{ recipe.tips }}<br>
</div>

{% endfor %}

</div>

{% endblock %}