{% extends "base.html" %}
{% block content %}


<h4 class="left-align purple-text text-shadow">Home</h4>



<div class="row card-panel hoverable center-align">

                <h4 class="welcome purple-text text-shadow" href="">
                    Make cool snacks for your party or fun food to eat for lunch or dinner. 
                    If you have easy and fun recipes you would like to share with other 
                    when Register for a profile and start create those recipes!
                </h4>

</div>

{% endblock %}