{% extends "base.html" %}
{% block content %}


<h4 class="left-align purple-text text-shadow">Home</h4>


<!-- Background images -->
<div class="card-panel grey lighten-5">
    <form class="col s12">

        <h5 class="center-align purple-text text-shadow">Welcome to "Cooking with Kids!"</h5>

        <div class="row">
            <p>
                On this page you can find easy and fun recipes to make for occations, parties or just an ordinary day.
            </p>
            <p>
                If you have your own recipes that you would like to share, just register for an account and sign in. You can find the links in the top right corner.
            </p>            
        </div>

    </form>
</div>
</div>

{% endblock %}