{% extends "base.html" %}
{% block content %}

<!--
<div class="container">
    <div class="row">
        <div class="col s6">
            <img class="responsive-img" src="static/images/recipes/bentobox.jpg" alt="bentobox">
        </div>

    </div>
</div> -->

{% for recipes in recipes %}

<div class="row card-panel">
    <h6 class="purple-text accent-3 left-align">{{ recipes.category_name }}</h6>
    <br>
    <h4 class="purple-text accent-3 left-align">{{ recipes.title }}</h4>
    <p><em>by: {{ recipes.created_by }}</em></p>
    <img class="responsive-img center-align" src="{{ recipes.url_img }}" alt="test">
    <br>

    <table class="purple-text lime accent-3 center-align">
        <thead>
            <tr>
                <th>Time:</th>
                <th>Portions:</th>
                <th>Difficulty:</th>
                <th>Material:</th>
                <th>Allergies:</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ recipes.cooking_time }}</td>
                <td>{{ recipes.portions }}</td>
                <td>{{ recipes.difficulty_level }}</td>
                <td>{{ recipes.cooking_material }}</td>
                <td>{{ recipes.allergier }}</td>
            </tr>
        </tbody>
    </table>




    <h6>Allergies</h6>
    {{ recipes.gluten }}<br>
    {{ recipes.egg }}<br>
    {{ recipes.nuts }}<br>
    {{ recipes.lactose }}<br>
    <h6>Preparation</h6>
    <p>{{ recipes.preparation }}</p><br>
    <h6>Ingredients</h6>
    <p>{{ recipes.ingredients }}</p><br>
    <h6>Instructions</h6>
    <p>{{ recipes.instructions }}</p><br>
    <h6>Tips</h6>
    <p>{{ recipes.tips }}</p><br>
</div>

{% endfor %}

<div class="row">
    <div class="col s12 center-align">
        <p>RANDOM SUGGESTIONS FR0M DATABASE</p>
    </div>
    <div class="box col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/chickenbroccoli.jpg">
        <p>Chicken Broccoli</p>
    </div>
    <div class="box col s12 m4 l8"><img class="responsive-img" src="static/images/recipes/pastasalad.jpg">
        <p>Pasta Sallad</p>
    </div>
    <div class="box col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/flyingsaucers.jpg">
        <p>Flying Sauser</p>
    </div>
</div>

{% endblock %}