{% extends "base.html" %}
{% block content %}


{% for recipe in recipes %}

<div class="row card-panel hoverable">
    <h6 class="purple-text accent-3 left-align col s6">{{ recipe.category_name }}</h6>

    <div class="col s6 text-shadow">
        {% if session.user|lower == recipe.created_by|lower %}
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small editbutton right">Edit</a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small editbutton right">Delete</a>
        {% endif %}
    </div>

    <!-- Left column -->
    <h5 class="col s12 purple-text accent-3 left-align">{{ recipe.title }}</h5>
    <p><em>by: {{ recipe.created_by }}</em></p>

    <div class="col s12 m6 l6">
        <div class="list-img">
            <img class="responsive-img box center-align" src="{{ recipe.url_img }}" alt="Dinner Image">

            <!-- Recipe info banner under image -->
            <table class="info-table">
                <thead>
                    <tr>
                        <th>Time:</th>
                        <th>Portions:</th>
                        <th>Difficulty:</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ recipe.cooking_time }}</td>
                        <td>{{ recipe.portions }}</td>
                        <td>{{ recipe.difficulty_level }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>



    </div>

    <!-- Right column -->
    <div class="col s12 m6 l6">
        <div class="recipe-info">
            <h6 class="recipe-header">Ingredients</h6>
            <ul>
                {% for list in recipe.ingredients.splitlines() %}
                <li>
                    <p>{{list}}</p>
                </li>
                {% endfor %}
            </ul>
            <br>

            <h6 class="recipe-header">Instructions</h6>
            <ul>
                {% for list in recipe.instructions.splitlines() %}
                <li>
                    <p>{{list}}</p>
                </li>
                {% endfor %}
            </ul>
            <br>
            <h6 class="recipe-header">Tips</h6>
            <p class="flow-text">{{ recipe.tips }}</p><br>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}