{% extends "base.html" %}
{% block content %}

<h2> Recipes </h2>

<div class="container">
    <div class="row">
        <div class="col s6">
            <img class="responsive-img" src="static/images/recipes/bentobox.jpg" alt="advocado">
        </div>

    </div>
</div>

{% for recipes in recipes %}

<div class="row">
    {{ recipes.category_name }}<br>
    {{ recipes.cooking_time }}<br>
    {{ recipes.portions }}<br>
    {{ recipes.difficulty }}<br>
    {{ recipes.cooking_material }}<br>
    {{ recipes.title }}<br>
    {{ recipes.ingredients }}<br>
    {{ recipes.instructions }}<br>
    {{ recipes.type }}<br>
    {{ recipes.note }}<br>
</div>

{% endfor %}
{% endblock %}