{% extends "base.html" %}
{% block content %}


<h4 class="left-align purple-text text-shadow">SNACKS</h4>

<div class="container">
    <div class="row">
        <div class="col s6">
            <img class="responsive-img" src="static/images/categories-img/snacks.jpg" alt="party">
        </div>

    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <p>OTHER</p>
    </div>
    <div class="col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/chickenbroccoli.jpg">
        <p>Chicken Broccoli</p>
    </div>
    <div class="col s12 m4 l8"><img class="responsive-img" src="static/images/recipes/pastasalad.jpg">
        <p>Pasta Sallad</p>
    </div>
    <div class="col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/flyingsaucers.jpg">
        <p>Flying Sauser</p>
    </div>
    <div class="col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/chickenbroccoli.jpg">
        <p>Chicken Broccoli</p>
    </div>
    <div class="col s12 m4 l8"><img class="responsive-img" src="static/images/recipes/pastasalad.jpg">
        <p>Pasta Sallad</p>
    </div>
    <div class="col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/flyingsaucers.jpg">
        <p>Flying Sauser</p>
    </div>
        <div class="col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/chickenbroccoli.jpg">
        <p>Chicken Broccoli</p>
    </div>
    <div class="col s12 m4 l8"><img class="responsive-img" src="static/images/recipes/pastasalad.jpg">
        <p>Pasta Sallad</p>
    </div>
    <div class="col s12 m4 l2"><img class="responsive-img" src="static/images/recipes/flyingsaucers.jpg">
        <p>Flying Sauser</p>
    </div>
</div>
{% endblock %}